/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__todolist > p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.5;
  color: #585858;
  text-transform: uppercase;
}

.results__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 45px 0 0 0;
  width: 855px;
  height: 25px;
}
.results__box .result {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 20px;
  background: #d6c9d8;
  border-radius: 5px;
}
.results__box .result > p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 5px;
}
.results__box .total {
  background: #d6c9d8;
}
.results__box .total > p {
  color: #5231ae;
}
.results__box .success {
  background: #9aeebb;
}
.results__box .success > p {
  color: #169357;
}
.results__box .pending {
  background: #f1b1b1;
}
.results__box .pending > p {
  color: #de3838;
}

.filter__box {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.filter__box .filter {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #b92121;
}
.filter__box::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50px;
  left: 0;
  background: #9AEEBB;
}
.filter__box .btn-img {
  border: none;
  background: #f5f4f4;
}

.inform {
  min-height: 100px;
  height: 100%;
}
.inform-item {
  display: flex;
  margin: 25px 0;
}
.inform-item__task {
  max-width: 690px;
  width: 100%;
}
.inform-item__priority {
  position: relative;
  max-width: 180px;
  width: 100%;
}
.inform-item__priority-color {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 0;
  left: -25px;
  border-radius: 50%;
}
.inform-item__priority .color1 {
  background: #4764c9;
}
.inform-item__priority .color2 {
  background: #d10c0c;
}
.inform-item__priority .color3 {
  background: #f1ae00;
}
.inform-item__date {
  margin-left: 30px;
}
.inform-item__checkbox {
  margin-left: 60px;
}
.inform-item__delete-img {
  margin-left: 25px;
  border: none;
  background: #f5f4f4;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 170px;
}
.footer__btn-clear {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.5;
  color: #4dc97e;
}
.footer__add-new {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.5;
  color: #dc5252;
}

.app {
  max-width: 1140px;
  width: 100%;
  background: #f5f4f4;
  border-radius: 10px;
  padding: 35px 15px;
  margin: 50px auto;
}