.filter__box {
    position: relative;
    @include df-position(space-between, center);
    margin-top: 10px;

    .filter {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 54px;
        color: #b92121;
    }

    &::after {
        content: "";
        position: absolute;
        @include size(100%, 2px);
        @include a-position(50px, 0);
        background: #9AEEBB;
    }

    .btn-img{
        border: none;
        background: #f5f4f4;
    }
}
