.header {
    @include df-position(space-between, center);

    &__todolist > p {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 1.5;
        color: #585858;
        text-transform: uppercase;
    }
}
